body{
  padding: 25px;
  background-image:url(https://thumbs.dreamstime.com/b/wedding-flower-frame-blue-background-above-beautiful-floral-pattern-flat-lay-style-79676427.jpg);
}
.title {
	color: #5C6AC4;
}
th {
  background-color:green;
  Color:white;
}
.serif {
  font-family: Times, "Times New Roman", Georgia, serif;
}
